<h1 mat-dialog-title> Add product</h1>
<div mat-dialog-content>
<form [formGroup]= "productForm">
    <mat-form-field appearance="outline">
        <mat-label>item name</mat-label>
        <input formControlName="productForm" matInput placeholder="Enter the product name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input formControlName="Quantity" matInput type="number" placeholder="Enter the Aumount">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>url</mat-label>
        <input formControlName="URL"   matInput placeholder="Enter the url">
      </mat-form-field>
</form>

</div>
<div mat-dialog-action [align]="'end'">

    <button mat-raised-button color="warn" mat-dialog-close> Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">Save</button>

</div>