<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>3d_rotation</mat-icon>
 </button>
 <span>Grocery</span>
 <span class="example-spacer"></span>
 <button mat-raised-button color="warn" (click)="openDialog()">Add</button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px ;">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- item Column -->
        <ng-container matColumnDef="productForm">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> item name </th>
          <td mat-cell *matCellDef="let row"> {{row.productForm}} </td>
        </ng-container>
    
        <!-- quantity Column -->
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
          <td mat-cell *matCellDef="let row"> {{row.Quantity}} </td>
        </ng-container>
    
        <!-- url Column -->
        <ng-container matColumnDef="URL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
          <td mat-cell *matCellDef="let row"> {{row.URL}} </td>
        </ng-container>
    
        <!-- action Column -->

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
          
    <button mat-raised-button color="primary" mat-dialog-close> view</button>

    <button (click)="deleteProduct(row.id)" mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>

    </button>

    <ng-container matColumnDef="total ">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> total </th>
      <td mat-cell *matCellDef="let row"> {{row.URL}} </td>
    </ng-container>
          
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    

  </div>
</div>
  